In [8]:
import pandas as pd

In [143]:
df=pd.read_csv("lookup_records/csv/bcp/male_ht_wt_chart.csv")

In [146]:
df.head()

   height  max  min
0      52  106   73
1      53  110   76
2      54  114   79
3      55  118   82
4      56  122   85

In [159]:
ht = str(52)

In [169]:
wt = str(50)

In [173]:
df.loc[[ht],(df['max'] >= [wt]) | (df['min'] <= [wt]), 'name_match'] = 'out'

ValueError: ('Lengths must match to compare', (35,), (1,))

In [168]:
print(df)

    height  max  min name_match
0       52  106   73        out
1       53  110   76        out
2       54  114   79        out
3       55  118   82        out
4       56  122   85        out
5       57  127   88        out
6       58  131   91        out
7       59  136   94        out
8       60  141   97        out
9       61  145  100        out
10      62  150  104        out
11      63  155  107        out
12      64  160  110        out
13      65  165  114        out
14      66  170  117        out
15      67  175  121        out
16      68  180  125        out
17      69  186  128        out
18      70  191  132        out
19      71  197  136        out
20      72  202  140        out
21      73  208  144        out
22      74  214  148        out
23      75  220  152        out
24      76  225  156        out
25      77  231  160        out
26      78  237  164        out
27      79  244  168        out
28      80  250  173        out
29      81  256  177        out
30      82  263  182        out
31      83  269  186        out
32      84  276  191        out
33      85  283  195        out
34      86  289  200        out